@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&display=swap');

:root {
    --orange-color: #ff4415;
    --text-color: #232323;
    --text-color-hover: #101010;
    --white-text: rgb(249 250 251);
    --z-index-navbar: 1000;
    --crimson-font: 'Crimson Text', serif;
    --link-color: #38bdf8;
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 62.5%;
    font-weight: 400;
    line-height: 1.4;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}


.container {
    margin-left: auto;
    margin-right: auto;
    padding: 0 9rem;
}

header {
    position: fixed;
    top: 0;
    z-index: var(--z-index-navbar);
}


@media screen and (max-width: 884px) {
    .container {
        padding: 0 2rem;
    }
}


.animation-btn-hover {
    border: 1px solid transparent;
    transition: all 0.2s linear;
}

.animation-btn-hover * {
    color: inherit;
}

.animation-btn-hover--light:hover {
    color: var(--white-text);
    border-color: var(--white-text);
    background-color: transparent;
}

.animation-btn-hover--dark:hover {
    color: var(--text-color);
    border-color: var(--text-color);
    background-color: transparent;
}